@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Pretendard, system-ui, sans-serif;
  }
}

@layer utilities {
  .head-semi-bold-32 {
    @apply font-pretendard font-semibold text-[32px];
  }

  .head-semi-bold-24 {
    @apply font-pretendard font-semibold text-[24px];
  }

  .body-semi-bold-18 {
    @apply font-pretendard font-semibold text-[18px];
  }

  .body-medium-18 {
    @apply font-pretendard font-medium text-[18px];
  }

  .body-regular-16 {
    @apply font-pretendard font-normal text-[16px];
  }

  .caption-regular-14 {
    @apply font-pretendard font-normal text-[14px];
  }
}
